<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Game Web</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/user.css">
        <link rel="stylesheet" href="/css/createcharacter.css">
        <link rel="stylesheet" href="/css/character.css">
        <link rel="stylesheet" href="/css/record-character.css">
        <link rel="stylesheet" href="/css/location.css">
        <link rel="stylesheet" href="/css/item.css">
        <link rel="stylesheet" href="/css/record-item.css">
        <link rel="stylesheet" href="/css/checkitem.css">
        <link rel="stylesheet" href="/css/skill.css">
        <link rel="stylesheet" href="/css/record-skill.css">
        <link rel="stylesheet" href="/css/monster.css">
        <link rel="stylesheet" href="/css/record-monster.css">
        <link rel="stylesheet" href="/css/checkmonster.css">
        <link rel="stylesheet" href="/css/npc.css">
        <link rel="stylesheet" href="/css/record-npc.css">
        <link rel="stylesheet" href="/css/drop.css">
        <link rel="stylesheet" href="/css/record-drop.css">
        <link rel="stylesheet" href="/css/spell.css">
        <link rel="stylesheet" href="/css/record-spell.css">
        <link rel="stylesheet" href="/css/attack.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
