<form class="login-container" action="/login" method="post">
    <div class="box">
        <h1>Login</h1>
        <img src="/image/Background.png" alt="Italian Trulli">
        <input class="login" type="text" placeholder="User login" name="login" autocomplete="off" required>
        <input class="password" type="password" placeholder="User password" name="password" autocomplete="off" required>
        <button class="button" type="submit">Login</button>
    </div>
</form>

<div class="login-box">
    <button class="register" onclick="window.location.href = '/register'">Don't have the account? Sign up</button>
</div>