<form class="register-container" action="/register" method="post">
    <div class="box">
        <h1>Register</h1>
        <img src="/image/Background.png" alt="Italian Trulli">
        <input class="login" type="text" placeholder="User login" name="login" autocomplete="off" required>
        <input class="password" type="password" placeholder="User password" name="password" autocomplete="off" required>
        <input class="name" type="text" placeholder="User name" name="name" autocomplete="off" required>
        <input class="surname" type="text" placeholder="User surname" name="surname" autocomplete="off" required>
        <button class="button" type="submit">Register</button>
    </div>
</form>

<div class="register-box">
    <button class="login" onclick="window.location.href = '/login'">Don't have the account? Sign in</button>
</div>