.record-item-image {
    position: relative;
    left: 1.4%;
    height: 62.5%;
    width: 11.95%;
    border: 3px solid #6A8CA8;
    border-radius: 5px;
}

.record-item-image img {
    height: 100%;
}

.record-item-type {
    position: relative;
    top: -67.5%;
    width: 85%;
    left: 15%;
    color: #000000;
    font-family: 'Showcard';
    font-size: larger; 
}

.record-item-type .item-type {
    position: relative;
    left: 1.5%;
    width: 30%;
}

.record-item-healthmana {
    position: relative;
    top: -67.5%;
    width: 85%;
    left: 15%;
    color: #000000;
    font-family: 'Showcard';
    font-size: larger; 
}

.record-item-healthmana .item-health {
    position: relative;
    left: 1.5%;
    width: 30%;
}

.record-item-healthmana .item-mana {
    position: relative;
    margin-top: -4.4%;
    left: 35%;
    width: 30%;
}

.record-item-talants {
    position: relative;
    top: -67.5%;
    width: 85%;
    left: 15%;
    color: #000000;
    font-family: 'Showcard';
    font-size: larger; 
}

.record-item-talants .item-power {
    position: relative;
    left: 1.5%;
    width: 30%;
}

.record-item-talants .item-speed {
    position: relative;
    margin-top: -4.4%;
    left: 35%;
    width: 30%;
}

.record-item-talants .item-mind {
    position: relative;
    margin-top: -4.4%;
    left: 68.5%;
    width: 30%;
}